<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservaciones">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networksecutiryconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.FormUsuarioActivity"></activity>
        <activity android:name=".Activities.DetalleUsuarios" />
        <activity android:name=".Activities.UsuariosActivity" />
        <activity android:name=".Activities.FormReservacion" />
        <activity android:name=".Activities.DetalleReservacion" />
        <activity android:name=".Activities.PrincipalActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>